.text-area {
  h1, h2, h3, h4, h5, h6,
  p, a, blockquote, pre,
  ul, ol, dl, .highlighter-rouge, figure {
    max-width: $content-width;
    font-family: $sans-serif-font;
    line-height: $base-line-height * 1.5;
    margin: 1em auto;
  }

  a {
    text-decoration: underline;
    text-decoration-skip: ink;
  }

  img, .video-media {
    width: 100%;
    margin: 15px 0;
  }

  .post-image-big {
    max-width: 1200px;
  }
  .post-image-small {
    max-width: $content-width/2;
  }

  ul, ol {
    padding-left: 2em;
  }

  .video-media {
    position: relative;
    height: 0;
    padding-bottom: 51%;
  }

  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
  }

  @media screen and (min-width: $medium-screen) {
    img, .video-media {
      width: 100%;
      margin: 20px 0;
    }
  }

  @media screen and (min-width: $large-screen) {
    ul, ol {
      padding-left: 4em;
    }
    img, .video-media {
      margin: 35px 0;
    }
    img {
      cursor: zoom-in;
      transition: .4s cubic-bezier(.4,0,.2,1);
      &.clicked {
        transform: scale(1.8);
      }
    }
    .post-image-big img.clicked {
      transform: scale(1.15);
    }
    .post-image-small img.clicked {
      transform: scale(2.8);
    }
  }
}
