.section-1 {
  position: relative;
  padding: 155px 0 300px 0;
  background: -moz-linear-gradient(68deg, #CBE6E4 0%, #00D3C6 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00D3C6), color-stop(100%, #CBE6E4)); /* safari4+,chrome */
  background: -webkit-linear-gradient(68deg, #CBE6E4 0%, #00D3C6 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(68deg, #CBE6E4 0%, #00D3C6 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(68deg, #CBE6E4 0%, #00D3C6 100%); /* ie10+ */
  background: linear-gradient(22deg, #CBE6E4 0%, #00D3C6 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00D3C6', endColorstr='#CBE6E4',GradientType=0 ); /* ie6-9 */

  h2 {
    margin-bottom: 80px;
  }

  h5 {
    margin-bottom: 20px;
    display: inline-block;
  }


  @media screen and (min-width: 640px) {

  }

  @media screen and (min-width: 1024px) {
    & {
      padding: 155px 0 410px 0;
    }
    h2 {
      margin-bottom: 100px;
    }
    h5 {
      margin-bottom: 40px;
      display: inline-block;
    }
  }
}
