/*IE9*/
.no-select::selection {
  background-color: transparent;
}

.no-select::-moz-selection {
  background-color: transparent;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  /*IE10*/
  -ms-user-select: none;
  user-select: none;
  /*You just need this if you are only concerned with android and not desktop browsers.*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
