<header role="banner">

  <div class="wrapper">
    <a class="site-title" href="{{ "/" | relative_url}}">{{ site.title | escape }}</a>

    <a id="hamburger-icon" href="javascript:void(0);" onclick="hamburgerFunction()" title="Menu">
      <span class="line line-1"></span>
      <span class="line line-2"></span>
      <span class="line line-3"></span>
    </a>

    <div class="nav" id="headerNav">
      <ul>
        <li><a class="page-link" href="/writing/">Writing</a></li>
        <!-- <li><a class="page-link" href="/reading-list/">Reading List</a></li> -->
        <li><a class="page-link" href="/about/">About</a></li>
      </ul>
    </div>

  </div>

</header>
