/* FONTS */

@font-face {
  font-family: 'Clearface T.';
  src: url('../fonts/clearface_t.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Clearface T.';
  src: url('../fonts/clearface_heavy_t.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Clearface T.';
  src: url('../fonts/clearface_black_t.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Futura LT';
  src: url('../fonts/futuralt_book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura LT';
  src: url('../fonts/futuralt_bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

h1 {
  font-family: 'Clearface T.', "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 1.1em;
  margin: 0;
}

p, a, li, button {
  font-size: 17px;
  line-height: 1.3em;
  font-family: 'Futura LT', "Trebuchet MS", Helvetica, sans-serif;
  font-weight: normal;
  letter-spacing: 0px;
  margin: 1em 0 0 0;
}

strong {
  font-weight: 600;
}

.highlight {
  background: -webkit-linear-gradient(#fff 30%, #13F87F 30%, #13F87F 70%, #fff 70%);
  background: linear-gradient(#fff 30%, #13F87F 30%, #13F87F 70%, #fff 70%);
}

.remove-xs {
  display: none;
}

.hyphenate {
  text-align: justify !important;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 60px;
    line-height: 1.1em;
  }
  .remove-xs {
    display: block;
  }
}

.row {
  padding: 0 15px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}


/*   HEADER   */

header {
  margin-top: 50px;
  margin-bottom: 100px;
}

header img {
  height: 45px;
  width: auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navBtn {
  display: inline-block;
  margin-left: 40px;
}

.navBtn a {
  color: black;
}

a, a:hover, a:visited, a:active {
  text-decoration: none !important;
}

.navBtn a:hover {
  color: #fbdb0c;
}

.dropdown-row {
  padding: 0 30px;
}

.dropdown {
  width: 100%;
  max-width: 400px;
  margin: 30px auto -30px auto;
}


header button {
  background-color: #ffd9a6;
  width: 100%;
}

button:focus {
    outline:0 !important;
}

header .dropdown-menu {
  width: 100%;
  -webkit-transform: translateZ(10px);
  transform: translateZ(10px);
}

header .dropdown-menu a {
  margin: 0;
  margin-bottom: 15px;
}
