/* FEATURED */

.featured {
  margin-bottom: 60px;
  -webkit-transform: translateZ(10px);
  transform: translateZ(10px);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

@media screen and (min-width: 768px) {
  .featured {
    margin-bottom: 150px;
  }
  .vertical-align {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (min-width: 1580px) {
  .rightColum {
    margin-left: 30px;
  }
  .leftColum {
    margin-right: 30px;
  }
}

.featuredText {
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  outline: 4px solid white;
  padding: 20px;
  margin: 0px 20px;
  color: black;
}

.workshop .featuredText {
  margin-bottom: 40px;
}

.store .featuredText {
  margin-bottom: 40px;
}

.featuredText h2 {
  text-align: center;
  font-size: 1.8em;
  font-weight: 100;
  line-height: 1.1em;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .featuredText {
    margin-bottom: 40px;
  }
}

.featured img {
  position: relative;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  padding: 0px;
}

.swivleRight:hover {
  -webkit-backface-visibility: hidden;
  -webkit-transform: perspective( 1000px) rotateY(3deg) translateZ(10px);
  transform: perspective( 1000px) rotateY(3deg) translateZ(10px);
}

.swivleLeft:hover {
  -webkit-backface-visibility: hidden;
  -webkit-transform: perspective( 1000px) rotateY(-3deg) translateZ(10px);
  transform: perspective( 1000px) rotateY(-3deg) translateZ(10px);
}

.featured:hover .featuredText {
  -webkit-transition: outline-color 1s ease-in-out;
  transition: outline-color 1s ease-in-out;
  outline: 4px solid #fbdb0c;
}
