/**
 * Page content
 */
.page-content {
  animation: fadeInUp 0.6s ease-in-out both;
}

.page-heading {
  font-size: 20px;
}

.post-meta {
  margin-top: 10px;
  font-size: $font-size-0;
  color: $text-color;
  opacity: 0.5;
  font-style: italic;
}

.post-list {
  a {
    color: $blue-color;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-skip: ink;
    transition: 0.3s ease-in-out;
    &:hover {
      text-decoration-color: lighten($blue-color, 20%);
    }
  }

  li {
    margin-bottom: 65px;
  }

  li:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: $medium-screen) {
    li {
      margin-bottom: 90px;
    }

    li:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: $large-screen) {
    li {
      margin-bottom: 120px;
    }

    li:last-child {
      margin-bottom: 0;
    }
  }
}
