#section-1 {
  margin-top: 0px;
  .left {
    h2 {
      margin: 100px 0;
    }
    .svg-symbol {
      padding-bottom: 4px;
    }
    h5 {
      margin-bottom: 20px;
      display: inline-block;
    }
  }

  .right {
    position: relative;
    .colored-blob {
      position: absolute;;
      z-index: 1;
      top: 100px;
      height: 90%;
      background: -moz-linear-gradient(68deg, #CBE6E4 0%, #00D3C6 100%); /* ff3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00D3C6), color-stop(100%, #CBE6E4)); /* safari4+,chrome */
      background: -webkit-linear-gradient(68deg, #CBE6E4 0%, #00D3C6 100%); /* safari5.1+,chrome10+ */
      background: -o-linear-gradient(68deg, #CBE6E4 0%, #00D3C6 100%); /* opera 11.10+ */
      background: -ms-linear-gradient(68deg, #CBE6E4 0%, #00D3C6 100%); /* ie10+ */
      background: linear-gradient(22deg, #CBE6E4 0%, #00D3C6 100%); /* w3c */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00D3C6', endColorstr='#CBE6E4',GradientType=0 ); /* ie6-9 */
    }
    h1 {
      position: relative;
      z-index: 2;
      margin-top: 150px;
      margin-bottom: 20px;
    }
    p {
      position: relative;
      z-index: 2;
    }
    br {
      display: none;
    }
  }

  @media screen and (min-width: 640px) {
    & {
      margin-top: 50px;
    }
    .right {
      h1 {
        margin-bottom: 40px;
        padding-left: 30px;
      }
      p {
        padding-left: 30px;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    & {
      margin-top: 100px;
    }
    .left {
      padding: 15px;
    }
  }
  @media screen and (min-width: 1300px) {
    & {
      margin-top: 235px;
    }
    .left {
      h2 {
        margin-top: 200px;
      }
    }
    .right {
      .colored-blob {
        position: absolute;
        bottom: -60px;
        right: 0;
        height: 700px;
      }
      h1 {
        margin-top: 320px;
      }
      br {
        display: inline-block;
      }
    }
  }
}
