@import "./vendors/foundation.min.scss";
@import "./common/fonts";
@import "./common/header";
@import "./common/footer";

.column, .columns {
  padding: 0;
}


.container {
  margin: 0 auto;
  padding: 45px;
  max-width: 1920px;
}

@media screen and (max-width: 640px) {
  .container {
    padding: 0;
  }
  .hide-for-small {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .hide-for-medium {
    display: none;
  }
  @media screen and (min-width: 640px) {
    .hide-for-medium-only {
      display: none;
    }
  }
}

@media screen and (max-width: 1800px) {
  .hide-for-large {
    display: none;
  }
}

@media screen and (min-width: 1800px) {
  .hide-for-really-large {
    display: none;
  }
}

.svg-symbol {
  display: inline-block;
  margin-right: 10px;
  padding-bottom: 4px;
}

h1, h2, h3, h4, h5, p {
  font-family: 'Futura LT';
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

h5 {
  font-size: 20px;
}

p {
  font-size: 16px;
  letter-spacing: 0.04em;
}

@media screen and (min-width: 640px) {
  h1 {
    font-size: 57px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 30px;
  }
  h5 {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 100px;
    line-height: 130px;
  }
  h2 {
    font-size: 42px;
  }
  h3 {
    font-size: 36px;
  }
  h5 {
    font-size: 24px;
  }
}
