---
layout: default
---

<h1>Hi! I’m Abdullah</h1>
<p>I am a self-taught programmer. I love all things computer science, math, physics, cosmology, and art. That’s a lot, I know. <br>

Right now I work as a full-stack Javascript developer. I enjoy working on tough problems, that’s why I’m focusing on machine learning and AI in general. I hate most dev tools and consider them to be a necessary evil. <br>

You can contact me on the twitters, email me at milkyabdullah@gmail.com, check out my CV, buy me a gift from Amazon or find me trufflesprouts on GitHub. Thank you for reading, pls like &amp; subscribe!

</p>
