---
layout: default
---

<div class="reading-list">
  <h1 class="w-40">Currently<br>Reading</h1>
  <div class="book-list w-60">
    <p>Fahrenheit 451, <span class="book-author">by Ray Bradbury</span></p>
    <p>The Tipping Point: How Little Things Can Make a Big Difference, <span class="book-author">by Malcolm Gladwell</span></p>
    <p>Middlemarch, <span class="book-author">by George Eliot</span></p>
  </div>


  <div class="split"></div>
  <div class="split"></div>
  <div class="split"></div>

  <h1 class="w-30">2018</h1>
  <div class="book-list w-70">
    <p>Modern Romance: An Investigation, <span class="book-author">by Aziz Ansari</span></p>
    <p>The Painted Word, <span class="book-author">by Tom Wolfe</span></p>
    <p>Ready Player One, <span class="book-author">by Ernest Cline</span></p>
    <p>The Greatest Story Ever Told--So Far: Why Are We Here?, <span class="book-author">by Lawrence M. Krauss</span></p>
  </div>

  <div class="split"></div>
  <div class="split"></div>

  <h1 class="w-30">2017</h1>
  <div class="book-list w-70">
    <p>The Book Thief, <span class="book-author">by Markus Zusak</span></p>
    <p>Dark Money: The Hidden History of the Billionaires Behind the Rise of the Radical Right, <span class="book-author">by Jane Mayer</span></p>
    <p>The Machine Stops, <span class="book-author">by E. M. Forster</span></p>
    <p>The Better Angels of Our Nature, <span class="book-author">by Steven Pinker</span></p>
    <p>Guns Germs and Steel, <span class="book-author">by Jared Diamond</span></p>
    <p>Superintelligence: Paths, Dangers, Strategies, <span class="book-author">by Nick Bostrom</span></p>
  </div>


  <div class="split"></div>
  <div class="split"></div>


  <h1 class="w-30">2016</h1>
  <div class="book-list w-70">
    <p>Dealers of Lightning: Xerox Parc and the Dawn of the Computer Age, <span class="book-author">by Michael Hiltzik</span></p>
    <p>The Girl on the Train, <span class="book-author">by Paula Hawkins</span></p>
    <p>God Is Not Great: How Religion Poisons Everything, <span class="book-author">by Christopher Hitchens</span></p>
    <p>A Brief History of Time: From the Big Bang to Black Holes, <span class="book-author">by Stephen Hawking</span></p>
    <p>Atlas Shrugged, <span class="book-author">by Ayn Rand</span></p>
    <p>The Martian, <span class="book-author">by Andy Weir</span></p>
  </div>
</div>
